body, html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: Arial, Ubuntu, sans-serif;
}

.message
{
    margin: 1em;
    padding: .5em;
    width: 70%;
    border: 1px solid lightgrey;
    border-radius: 5px;

}

.message-info
{
    --main-bg-color: #CEDFFF;
    --main-text-color: #41399B;
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
}
.message-success
{
    --main-bg-color: #CFF3DA;
    --main-text-color: #3A8556;
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
}
.message-warning
{
    --main-bg-color: #FDFBC9;
    --main-text-color: #85700A;
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
}
.message-error
{
    --main-bg-color: #FCD2D7;
    --main-text-color: #851F35;
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
}