.fancy-header
{
    text-align: center;
    color: #99334b;
    text-decoration: underline;
}

.section-header
{
    color: #862732;
    text-decoration: underline;
}

.page-wrapper
{
    display: flex;
    flex-direction: column;
    min-height: 100vh;

}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/*body {*/
/*    justify-content:center;*/
/*}*/
body
{

    background-color: #f6e7d5;
    background-image: url("https://images.unsplash.com/photo-1629968417850-3505f5180761?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OHx8cGFwZXIlMjB0ZXh0dXJlfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=800&q=60");
    font-family: 'Teko', sans-serif;
}

.bullet-style
{
    list-style: square;
}
table
{
    align-items: center;
}

table.text
{
    border-style: solid;
}

td.plan, th.plan
{
    padding-right: 1px;
    padding-bottom: 2px;
    border-bottom: 1px solid black;
    border-right: 1px solid black;

}
a:link
{
    color: #862732;
    text-decoration: none;
}

a:hover
{
    color: forestgreen;
}

a:active
{
    color: darkgreen;
}

a:visited
{
    color: rebeccapurple;
}