/** ID'S START ******/

#title
{
    display: flex;
    /*align-self: flex-start;*/
    /*flex: 2 0 0;*/
    margin-right: 3em;
    font-weight: bold;
    font-size: 2.5em;
    text-shadow: 1px 1px  #333333;
    align-self: center;
}

#currentCity
{

    display: flex;

    flex-wrap: nowrap;

    font-size: 1.5em;

    width:100%;

    text-align: center;
    text-shadow: 1px 1px  #333333;
    /*-webkit-text-stroke-width: .5px;*/
    /*-webkit-text-stroke-color: #bab6b8;*/

}

#cards
{
    display: flex;
    flex-direction: row;
    margin: .75em 0;

}


#map
{

    width: 100%;
    height: 30em;
    flex-grow: 1;
    margin-bottom: 2em;

    border-radius: 25px;

}



#nav-bar
{
    display:flex;
    width: 100%;

    flex-direction: row;

    text-align: center;

    height: 10em;

    color: #bab6b8;

    border-bottom: double 3px #f5f0f2;
    border-radius: 1px;

}

#search
{
    margin: 2em 0;
}

#searchInpt
{

    box-sizing: border-box;
    padding: .25em;
    border: none;
    margin: 0;
}

#searchBtn
{
    border: none;

    margin-left:-5px;

    padding: .25em;
}


#temp-weather
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

#weather-icon
{
    width: 7em;

    align-self: center;
}


#city-info
{
    /*margin-left: 2em;*/
    flex-shrink: 1;

}


/*** ID'S END ***********************/




/************* PAGE STRUCTURE ****************/

.page-wrapper
{
    display: flex;
    flex-direction: column;

    font-family: 'Varela Round', sans-serif;

    background-color: black;
    background-image: url("/img/cloudy-sky.jpeg");
    background-repeat: round;
    background-size: auto;
    /*background-blend-mode: lighten;*/

    align-items: center;

    padding: .5em;
}

.container
{
    display: flex;
    flex-direction: column;

    background-color: rgba(240, 228, 233, 0.6);
    background-blend-mode: lighten;

    padding: 0;
    margin: 0;
    width: 100%;
    flex-grow: 1;
    align-items:center;

}

.row
{
    display: flex;

    /*max-width: 900px;*/
    width: 100%;
}

.column
{
    display: flex;
    flex-direction: column;
    /*flex-basis: 0;*/

}

.city-bold
{
    font-weight: bold;
}

.search-container
{
    align-self: center;
}



/*************** PAGE STRUCTURE END *******************/



/**************** CARD *******************/

.card
{
    width: 25rem;


    font-size: .60em;

    margin: .5em .5em;

}

