/** ID'S START ******/

#title
{
    display: flex;
    /*align-self: flex-start;*/
    flex: 2 0 0;
    margin-right: 3em;
}

#currentCity
{

    display: flex;
    flex: 1 0 0;

    margin: auto;
}

#cards
{
    display: flex;
    flex-direction: row;
    margin: .75em 0;

}


#map
{

    width: 100%;
    height: 30em;
    flex-grow: 1;
}



#nav-bar
{
    display:flex;
    width: 100%;
    justify-content: space-evenly;
}

#search
{
    margin: 2em 0;
}


#temp-weather
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

#weather-icon
{
    width: 7em;

    align-self: center;
}

#currentCity
{
    flex-direction: row;
    flex-wrap: nowrap;
}

#city-info
{
    margin-left: 2em;
    flex-shrink: 1;
}

/*** ID'S END ***********************/




/************* PAGE STRUCTURE ****************/

.page-wrapper
{
    display: flex;
    flex-direction: column;

    align-items: center;

    padding: .5em;
}

.container
{
    display: flex;
    flex-direction: column;

    padding: 0;
    margin: 0;
    width: 100%;
    flex-grow: 1;
    align-items:center;

}

.row
{
    display: flex;

    /*max-width: 900px;*/
    width: 100%;
}

.column
{
    display: flex;
    flex-direction: column;
    /*flex-basis: 0;*/

}
/*************** PAGE STRUCTURE END *******************/



/**************** EXTRA *******************/

.card
{
    width: 25rem;

    font-size: .65em;

    margin: .5em .5em;
}


/************* EXTRA END *****************/

